<!DOCTYPE html
        PUBLIC
        "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en"
      xml:lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Details - An Error Occurred</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" />
</head>
<body>
<div role="main" style="width: 100%;">
    <h1 style="text-align: center">
        There was an error while trying to complete your request. Please try again.
    </h1>
</div>
</body>
</html>
