<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" xml:lang="en" xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Oakland University - Password Information</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />

    <script>
      var passwordInformationPortletSbReactAppUrlRoot = '';
      var passwordInformationPortletSbJwtToken = '';
    </script>
  </head>

  <body>
    <div id="PasswordInformationPortlet-root"></div>
    <script src="/PasswordInformationPortlet-sb/js/main.js"></script>
  </body>
</html>
